# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

.vscode/
android
ios
.env
babel.config.js
metro.config.js


# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# Local Netlify folder
.netlify

# Firebase
ecmeals-782ee-firebase-adminsdk-fbsvc-c1386972a2.json
google-services.json
